.s-home {
    .container {
        background-color: $backgroundcolor;
        @include flex(row, flex-start, space-between);
        .text {
            @include flex(column, flex-start, space-between);
            .text-principal {
                padding-top: 70px;
                padding-left: 70px;
                h1 {
                    font-size: 6.4rem;
                    width: 542px;
                    font-family: 'KyivType Sans';
                }
                p {
                    font-size: 21.57px;
                    font-weight: 300;
                    padding-top: 32px;
                    max-width: 608px;
                }
             }
             .text-secundary {
                @include flex(row, center, space-between);
                margin-left: 71px;
                padding-top: 65px;
                font-weight: 300;
                p {
                    font-size: 21.57px;
                    max-width: 369px;
                    padding-left: 41px;
                }
             }
        }
        .image {
            margin-top: -40px;
         }
        

    }
}